@{
    ViewData["Title"] = "Access Denied";
}


<img src="~/images/access-denied.jpg" class="img-fluid d-block mx-auto mt-5" style="width: 800px;" alt="Access Denied" />

<h1 class="text-danger text-center mt-5">🚫 Access Denied</h1>
<p class="text-center">You do not have permission to access this page.</p>

<div class="text-center mt-4">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">🏠 Go to Home</a>
</div>
